<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ComputerShop" 
         connectionString="Data Source=NZHELLER\SQL2008;Initial Catalog=ComputerShopTest;Integrated Security=True"  
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>