<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="ComputerShopContext" connectionString="Data Source=NZHELLER\SQL2008;Initial Catalog=ComputerShopTest;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="ComputerShopContext" connectionString="Data Source=.;Initial Catalog=ComputerShopTest;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
